*.conf
*.db
*.log*
*.sqlite
*.txt
*.uuid
*.xml

.HA_VERSION
.storage
__pycache__
deps/
tts/
www/images/snapshots/*.jpg

entity_registry.yaml
home-assistant_v2.db-shm
home-assistant_v2.db-wal
known_devices.yaml
secrets.yaml

