---
# https://www.home-assistant.io/docs/configuration/secrets
# The values here are for illustration purposes and to satisfy the CI builds.

latitude: 0.00000
longitude: 0.00000
time_zone: Europe/Amsterdam
elevation: 0
currency: EUR
country: NL
unit_system: metric

ecobee_key: abc123

sonos01_ip: 192.168.1.1
sonos02_ip: 192.168.1.1
sonos03_ip: 192.168.1.1
sonos04_ip: 192.168.1.1

internal_url: http://192.168.1.1
trusted_proxy: 192.168.1.1

wemo_1_ip: 192.168.1.1
wemo_2_ip: 192.168.1.1
wemo_4_ip: 192.168.1.1

smtp_server: smtp.example.com
smtp_port: 587
smtp_username: homeassistant@example.com
smtp_password: password
smtp_sender: homeassistant@example.com
smtp_recipient1: me@example.com
smtp_sender_name: Home Assistant

amcrest_front_doorbell_host: 192.168.1.1
amcrest_front_doorbell_username: username
amcrest_front_doorbell_password: password

# List birthdays in array as "%m-%d" strings.
# yamllint disable-line rule:line-length
birthday_evaluator: "{{ 'on' if as_timestamp(now()) | timestamp_custom('%m-%d') in ['01-01', '02-01', '03-01'] else 'off' }}"

teams_rest_url: http://192.168.1.1/status

# The URL to the camera snapshots directory. Without trailing slash.
camera_snapshots_public_url: https://example.com/camera_snapshots

