# The values here are for illustration purposes and to satisfy the CI builds.

latitude: 0.00000
longitude: 0.00000
time_zone: Europe/Amsterdam
elevation: 0

ubiquiti_username: root
ubiquiti_password: monkey
ubiquiti_ssid: linksys

ecobee_key: abc123

wemo_1_ip: 192.168.1.1
wemo_2_ip: 192.168.1.2

hue_bridge_ip: 192.168.1.3

