# The values here are for illustration purposes and to satisfy the CI builds.

latitude: 0.00000
longitude: 0.00000
time_zone: Europe/Amsterdam

ubiquiti_username: root
ubiquiti_password: monkey
ubiquiti_ssid: linksys

ecobee_key: abc123

